cle-admin/com.tibco.cle.admin/Service Descriptors/SecurityManagement/DataAccess/UserManagement/CreateUserRole.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://www.tibco.com/SecurityManagement/DataAccess/UserManagement/CreateUserRole.wsdl" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsd1="http://www.example.org/Users" name="CreateUserRole" targetNamespace="http://www.tibco.com/SecurityManagement/DataAccess/UserManagement/CreateUserRole.wsdl">
    <wsdl:import location="../../../../Schemas/Private/SecurityConfiguration/Users.xsd" namespace="http://www.example.org/Users"/>
    <wsdl:types>
    <xsd:schema targetNamespace="http://www.tibco.com/SecurityManagement/DataAccess/UserManagement/CreateUserRole.wsdl">
      <xsd:element name="Create">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="in" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="CreateResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="out" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
    <xsd:schema>
    	<xsd:import namespace="http://www.example.org/Users" schemaLocation="../../../../Schemas/Private/SecurityConfiguration/Users.xsd">
    	</xsd:import>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="CreateRequest">
    <wsdl:part element="xsd1:UserRole" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="CreateResponse">
    <wsdl:part element="xsd1:Response" name="parameters"/>
  </wsdl:message>
  <wsdl:portType name="CreateUserRole">
    <wsdl:operation name="Create">
      <wsdl:input message="tns:CreateRequest"/>
      <wsdl:output message="tns:CreateResponse"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="CreateUserRoleSOAP" type="tns:CreateUserRole">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="Create">
      <soap:operation soapAction="http://www.tibco.com/SecurityManagement/DataAccess/UserManagement/CreateUserRole.wsdl/NewOperation"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="CreateUserRole">
    <wsdl:port binding="tns:CreateUserRoleSOAP" name="CreateUserRoleSOAP">
      <soap:address location="http://www.example.org/"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
