cle-admin/com.tibco.cle.admin/Service Descriptors/Logging/Logic/HandleLogRequest.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:extns="http://www.tibco.com/CommonLE2/Private/Administration" xmlns:tns="http://www.tibco.com/ServiceDescriptors/Logging/Logic/HandleLogRequest.wsdl" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="HandleLogRequest" targetNamespace="http://www.tibco.com/ServiceDescriptors/Logging/Logic/HandleLogRequest.wsdl" xmlns:xsd1="http://www.tibco.com/CommonLE2/namespace/private/Common">
    <wsdl:types>
    	<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    		targetNamespace="http://www.tibco.com/ServiceDescriptors/Logging/Logic/HandleLogRequest.wsdl">
    		<xsd:element name="LogRequest" type="xsd:string"></xsd:element>
    		<xsd:element name="out"><xsd:complexType></xsd:complexType></xsd:element>
        </xsd:schema>
    	<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    		<xsd:import
    			namespace="http://www.tibco.com/CommonLE2/namespace/private/Common"
    			schemaLocation="../../../Schemas/Private/Common/LocalExceptions.xsd">
    		</xsd:import></xsd:schema></wsdl:types>
    <wsdl:message name="ApplicationID">
    <wsdl:part element="tns:LogRequest" name="parameters" />
    </wsdl:message>
    <wsdl:message name="handleResponse">
    	<wsdl:part name="handleResponse" element="tns:out"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="handleFault">
    	<wsdl:part name="fault" element="xsd1:DBError"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="handleFault1">
    	<wsdl:part name="fault1" element="xsd1:XMLError"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="handleFault2">
    	<wsdl:part name="fault2" element="xsd1:IDNotFound"></wsdl:part>
    </wsdl:message>
    <wsdl:portType name="HandleLogRequest">
    <wsdl:operation name="handle">
      <wsdl:input message="tns:ApplicationID" name="handleinput"/>
      <wsdl:output message="tns:handleResponse"></wsdl:output>
            <wsdl:fault name="fault" message="tns:handleFault"></wsdl:fault>
            <wsdl:fault name="fault1" message="tns:handleFault1"></wsdl:fault>
            <wsdl:fault name="fault2" message="tns:handleFault2"></wsdl:fault>
        </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>
