cle-admin/com.tibco.cle.admin/Service Descriptors/Logging/Logic/RetrieveLogDetailwithRendering.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://www.tibco.com/RetrieveLogDetailwithRendering/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="RetrieveLogDetailwithRendering" targetNamespace="http://www.tibco.com/RetrieveLogDetailwithRendering/" xmlns:xsd1="http://www.tibco.com/CommonLE2/namespace/Public/Pluggable/GUI/Log/LogDetailQuery" xmlns:xsd2="http://www.tibco.com/CommonLE2/namespace/Public/Pluggable/GUI/Log/LogDetail" xmlns:xsd3="http://www.tibco.com/CommonLE2/Public/Common">
  <wsdl:types>
    <xsd:schema targetNamespace="http://www.tibco.com/RetrieveLogDetailwithRendering/">
      <xsd:element name="retrieve">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="in" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="retrieveResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="out" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="retrieveFault">
      	<xsd:complexType>
      		<xsd:sequence>

      			<xsd:element name="retrieveFault" type="xsd:string"></xsd:element>
      		</xsd:sequence>
      	</xsd:complexType>
      </xsd:element>
    </xsd:schema>
    <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    	<xsd:import
    		namespace="http://www.tibco.com/CommonLE2/namespace/Public/Pluggable/GUI/Log/LogDetailQuery"
    		schemaLocation="../../../Schemas/Public/Pluggable/GUI/Log/LogDetailQuery.xsd">
    	</xsd:import>
    	<xsd:import
    		namespace="http://www.tibco.com/CommonLE2/namespace/Public/Pluggable/GUI/Log/LogDetail"
    		schemaLocation="../../../Schemas/Public/Pluggable/GUI/Log/LogDetail.xsd">
    	</xsd:import>
    	<xsd:import
    		namespace="http://www.tibco.com/CommonLE2/Public/Common"
    		schemaLocation="../../../Schemas/Public/Common/ErrorMessage.xsd">
    	</xsd:import></xsd:schema></wsdl:types>
  <wsdl:message name="retrieveRequest">
    <wsdl:part element="xsd1:LogDetailQuery" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="retrieveResponse">
    <wsdl:part element="xsd2:LogDetail" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="retrieveFault">
  	<wsdl:part name="parameters" element="xsd3:Error"></wsdl:part>
  </wsdl:message>
  <wsdl:portType name="RetrieveLogDetailwithRendering">
    <wsdl:operation name="retrieve">
      <wsdl:input message="tns:retrieveRequest"/>
      <wsdl:output message="tns:retrieveResponse"/>
            <wsdl:fault name="fault" message="tns:retrieveFault"></wsdl:fault>
        </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>
