cle-admin/com.tibco.cle.admin/Service Descriptors/Administration/Logic/ExceptionConfiguration/UpdateExceptionConfiguration.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:tns="http://www.tibco.com/ServiceDescriptors/Administration/Logic/ExceptionConfiguration/UpdateExceptionConfiguration.wsdl" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="UpdateExceptionConfiguration" targetNamespace="http://www.tibco.com/ServiceDescriptors/Administration/Logic/ExceptionConfiguration/UpdateExceptionConfiguration.wsdl" xmlns:xsd1="http://www.tibco.com/CommonLE2/Private/Administration" xmlns:xsd2="http://www.tibco.com/CommonLE2/namespace/private/Common">
    <wsdl:types><xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.tibco.com/ServiceDescriptors/Administration/Logic/ExceptionConfiguration/UpdateExceptionConfiguration.wsdl">
	<xsd:element name="updateExceptionConfiguration">
		<xsd:complexType>
			<xsd:sequence>

				<xsd:element name="in" type="xsd:string"></xsd:element>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="updateExceptionConfigurationResponse">
		<xsd:complexType>
			<xsd:sequence>

			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="updateExceptionConfigurationFault">
		<xsd:complexType>
			<xsd:sequence>

				<xsd:element name="updateExceptionConfigurationFault"
					type="xsd:string">
				</xsd:element>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element></xsd:schema>
    	<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    		<xsd:import
    			namespace="http://www.tibco.com/CommonLE2/Private/Administration"
    			schemaLocation="../../../../Schemas/Private/Administration/QueryUpdate.xsd">
    		</xsd:import>
    		<xsd:import
    			namespace="http://www.tibco.com/CommonLE2/namespace/private/Common"
    			schemaLocation="../../../../Schemas/Private/Common/LocalExceptions.xsd">
    		</xsd:import></xsd:schema></wsdl:types>
    <wsdl:message name="updateExceptionConfigurationRequest">
		<wsdl:part name="parameters" element="xsd1:ExceptionConfigurationUpdate"></wsdl:part>
	</wsdl:message>
    <wsdl:message name="updateExceptionConfigurationResponse">
    	<wsdl:part name="parameters" element="tns:updateExceptionConfigurationResponse"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="updateExceptionConfigurationFault">
    	<wsdl:part name="parameters" element="xsd2:DBRecordNotFound"></wsdl:part>
    </wsdl:message>
    <wsdl:portType name="UpdateExceptionConfiguration">
    	<wsdl:operation name="updateExceptionConfiguration">
    		<wsdl:input message="tns:updateExceptionConfigurationRequest"></wsdl:input>
    		<wsdl:output message="tns:updateExceptionConfigurationResponse"></wsdl:output>
            <wsdl:fault name="DBRecordNotFound" message="tns:updateExceptionConfigurationFault"></wsdl:fault>
        </wsdl:operation>
    </wsdl:portType></wsdl:definitions>
