cle-admin/com.tibco.cle.admin/Service Descriptors/Administration/DataAccess/Category/MSSQL/DeleteCategory.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:extns="http://www.tibco.com/CommonLE2/namespace/Public/Pluggable/GUI/Configuration/Query" xmlns:part="http://www.tibco.com/CommonLE2/namespace/private/Common" xmlns:tns="http://www.tibco.com/ServiceDescriptors/Administration/DataAccess/Category/MSSQL/DeleteCategory.wsdl" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="DeleteCategory" targetNamespace="http://www.tibco.com/ServiceDescriptors/Administration/DataAccess/Category/MSSQL/DeleteCategory.wsdl" xmlns:xsd1="http://www.tibco.com/CommonLE2/Public/Common/Dummy">
    <wsdl:types>
    <xsd:schema targetNamespace="http://www.tibco.com/ServiceDescriptors/Administration/DataAccess/Category/MSSQL/DeleteCategory.wsdl">
	<xsd:element name="deleteResponse">
		<xsd:complexType>
			<xsd:sequence>
                    </xsd:sequence>
                </xsd:complexType>
	</xsd:element>
	</xsd:schema>
	<xsd:schema>
    		<xsd:import namespace="http://www.tibco.com/CommonLE2/namespace/private/Common" schemaLocation="../../../../../Schemas/Private/Common/LocalExceptions.xsd">
    		</xsd:import>
    		<xsd:import namespace="http://www.tibco.com/CommonLE2/namespace/Public/Pluggable/GUI/Configuration/Query" schemaLocation="../../../../../Schemas/Public/Pluggable/GUI/Administration/Configuration/ConfigurationQuery.xsd">
    		</xsd:import>
    		<xsd:import
    			namespace="http://www.tibco.com/CommonLE2/Public/Common/Dummy"
    			schemaLocation="../../../../../Schemas/Public/Pluggable/GUI/Common/DummyReturnMessage.xsd">
    		</xsd:import></xsd:schema>
	</wsdl:types>
    <wsdl:message name="Query">
    <wsdl:part element="extns:Query" name="parameters"/>
    </wsdl:message>
  <wsdl:message name="deletefault">
    <wsdl:part element="part:DBRecordNotFound" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="deleteResponse">
  	<wsdl:part element="xsd1:Dummy" name="parameters"/>
    </wsdl:message>
  <wsdl:message name="deleteFault1">
  	<wsdl:part element="part:ReferencialIntegrityViolation" name="parameters">
  	</wsdl:part>
  </wsdl:message>
  <wsdl:portType name="DeleteCategory">
    <wsdl:operation name="delete">
      <wsdl:input message="tns:Query" name="deleteinput"/>
      <wsdl:output message="tns:deleteResponse"/>
      <wsdl:fault message="tns:deletefault" name="fault"/>
            <wsdl:fault message="tns:deleteFault1" name="fault1"/>
        </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>
