cle-admin/com.tibco.cle.admin/Service Descriptors/Administration/DataAccess/Category/MSSQL/RetrieveCategoryListWithSystemIDs.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:extns="http://www.tibco.com/CommonLE2/Private/Administration" xmlns:part="http://www.tibco.com/CommonLE2/namespace/private/Common" xmlns:tns="http://www.tibco.com/ServiceDescriptors/Administration/DataAccess/Category/MSSQL/RetrieveCategoryListWithSystemIDs.wsdl" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="RetrieveCategoryListWithSystemIDs" targetNamespace="http://www.tibco.com/ServiceDescriptors/Administration/DataAccess/Category/MSSQL/RetrieveCategoryListWithSystemIDs.wsdl" xmlns:xsd1="http://www.tibco.com/CommonLE2/namespace/Public/Pluggable/GUI/Configuration/Category">
    <wsdl:types>
    	<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    		targetNamespace="http://www.tibco.com/ServiceDescriptors/Administration/DataAccess/Category/MSSQL/RetrieveCategoryListWithSystemIDs.wsdl">
    		<xsd:element name="out"><xsd:complexType></xsd:complexType></xsd:element>
    	</xsd:schema>
    	<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    		<xsd:import
    			namespace="http://www.tibco.com/CommonLE2/namespace/private/Common"
    			schemaLocation="../../../../../Schemas/Private/Common/LocalExceptions.xsd">
    		</xsd:import>
    		<xsd:import
    			namespace="http://www.tibco.com/CommonLE2/Private/Administration"
    			schemaLocation="../../../../../Schemas/Private/Administration/QueryUpdate.xsd">
    		</xsd:import>
    		<xsd:import
    			namespace="http://www.tibco.com/CommonLE2/namespace/Public/Pluggable/GUI/Configuration/Category"
    			schemaLocation="../../../../../Schemas/Public/Pluggable/GUI/Administration/Configuration/ExceptionCategory.xsd">
    		</xsd:import></xsd:schema>
    		</wsdl:types>
    <wsdl:message name="ApplicationID">
    <wsdl:part element="extns:ApplicationID" name="parameters" />
    </wsdl:message>
  <wsdl:message name="retrievefault">
    <wsdl:part element="part:DBRecordNotFound" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="retrieveResponse">
  	<wsdl:part name="retrieveResponse" element="xsd1:ExceptionCategories"></wsdl:part>
  </wsdl:message>
  <wsdl:portType name="RetrieveCategoryListWithSystemIDs">
    <wsdl:operation name="retrieve">
      <wsdl:input message="tns:ApplicationID" name="retrieveinput"/>
      <wsdl:output message="tns:retrieveResponse"></wsdl:output>
      <wsdl:fault message="tns:retrievefault" name="fault"/>
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>
