cle-admin/com.tibco.cle.admin/Service Descriptors/Administration/DataAccess/ExceptionConfiguration/MSSQL/CreateExceptionConfiguration.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:extns="http://www.tibco.com/CommonLE2/Private/Administration" xmlns:part="http://www.tibco.com/CommonLE2/namespace/private/Common" xmlns:tns="http://www.tibco.com/ServiceDescriptors/Administration/DataAccess/ExceptionConfiguration/MSSQL/CreateExceptionConfiguration.wsdl" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="CreateExceptionConfiguration" targetNamespace="http://www.tibco.com/ServiceDescriptors/Administration/DataAccess/ExceptionConfiguration/MSSQL/CreateExceptionConfiguration.wsdl">
    <wsdl:types><xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.tibco.com/ServiceDescriptors/Administration/DataAccess/ExceptionConfiguration/MSSQL/CreateExceptionConfiguration.wsdl">
	<xsd:element name="createResponse">
		<xsd:complexType>
			<xsd:sequence>

			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	</xsd:schema>
	<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    		<xsd:import
    			namespace="http://www.tibco.com/CommonLE2/namespace/private/Common"
    			schemaLocation="../../../../../Schemas/Private/Common/LocalExceptions.xsd">
    		</xsd:import>
    		<xsd:import
    			namespace="http://www.tibco.com/CommonLE2/Private/Administration"
    			schemaLocation="../../../../../Schemas/Private/Administration/QueryUpdate.xsd">
    		</xsd:import></xsd:schema>
    		</wsdl:types>
    <wsdl:message name="ExceptionConfigurationUpdate">
    <wsdl:part element="extns:ExceptionConfigurationUpdate"
    	name="parameters" />
    </wsdl:message>
  <wsdl:message name="createfault">
    <wsdl:part element="part:IDNotUnique" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="createResponse">
  	<wsdl:part name="parameters" element="tns:createResponse"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="createFault1">
  	<wsdl:part name="parameters"
  		element="part:ReferencialIntegrityViolation">
  	</wsdl:part>
  </wsdl:message>
  <wsdl:message name="createFault2">
  	<wsdl:part name="parameters"
  		element="part:InvalidInputParameter">
  	</wsdl:part>
  </wsdl:message>
  <wsdl:message name="createFault3">
  	<wsdl:part name="parameters" element="part:DBError"></wsdl:part>
  </wsdl:message>
  <wsdl:portType name="CreateExceptionConfiguration">
    <wsdl:operation name="create">
      <wsdl:input message="tns:ExceptionConfigurationUpdate" name="createinput"/>
      <wsdl:output message="tns:createResponse"></wsdl:output>
      <wsdl:fault message="tns:createfault" name="fault"/>
            <wsdl:fault name="fault1" message="tns:createFault1"></wsdl:fault>
            <wsdl:fault name="fault2" message="tns:createFault2"></wsdl:fault>
            <wsdl:fault name="fault3" message="tns:createFault3"></wsdl:fault>
        </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>
