cle-admin/com.tibco.cle.admin/Service Descriptors/Administration/DataAccess/ExceptionConfiguration/MSSQL/RetrieveSpecificExceptionConfiguration.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:extns="http://www.tibco.com/CommonLE2/Private/Administration" xmlns:part="http://www.tibco.com/CommonLE2/namespace/private/Common" xmlns:tns="http://www.tibco.com/ServiceDescriptors/Administration/DataAccess/ExceptionConfiguration/MSSQL/RetrieveSpecificExceptionConfiguration.wsdl" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="RetrieveSpecificExceptionConfiguration" targetNamespace="http://www.tibco.com/ServiceDescriptors/Administration/DataAccess/ExceptionConfiguration/MSSQL/RetrieveSpecificExceptionConfiguration.wsdl" xmlns:xsd1="http://www.tibco.com/CommonLE2/Private/Exception">
    <wsdl:types><xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.tibco.com/ServiceDescriptors/Administration/DataAccess/ExceptionConfiguration/MSSQL/RetrieveSpecificExceptionConfiguration.wsdl">
	<xsd:element name="retrieveResponse">
		<xsd:complexType>
			<xsd:sequence>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="retrieveFault1">
		<xsd:complexType>
			<xsd:sequence>

				<xsd:element name="retrieveFault1" type="xsd:string"></xsd:element>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element></xsd:schema>
	<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    		<xsd:import
    			namespace="http://www.tibco.com/CommonLE2/namespace/private/Common"
    			schemaLocation="../../../../../Schemas/Private/Common/LocalExceptions.xsd">
    		</xsd:import>
    		<xsd:import
    			namespace="http://www.tibco.com/CommonLE2/Private/Exception"
    			schemaLocation="../../../../../Schemas/Private/Exception/QueryUpdate.xsd">
    		</xsd:import>
    		<xsd:import
    			namespace="http://www.tibco.com/CommonLE2/Private/Administration"
    			schemaLocation="../../../../../Schemas/Private/Administration/QueryResults.xsd">
    		</xsd:import></xsd:schema>
    		</wsdl:types>
    <wsdl:message name="ExceptionConfigurationQuery">
    <wsdl:part element="xsd1:ExceptionConfigurationQuery"
    	name="parameters" />
    </wsdl:message>
  <wsdl:message name="operationfault">
    <wsdl:part element="part:DBError" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="retrieveResponse">
  	<wsdl:part name="parameters"
  		element="extns:ExceptionConfigurationResult">
  	</wsdl:part>
  </wsdl:message>
  <wsdl:message name="retrieveFault1">
  	<wsdl:part name="parameters"
  		element="part:ExceptionConfigurationNotFound">
  	</wsdl:part>
  </wsdl:message>
  <wsdl:portType name="RetrieveSpecificExceptionConfiguration">
    <wsdl:operation name="retrieve">
      <wsdl:input message="tns:ExceptionConfigurationQuery" name="operationinput"/>
      <wsdl:output message="tns:retrieveResponse"></wsdl:output>
      <wsdl:fault message="tns:operationfault" name="fault"/>
            <wsdl:fault name="fault1" message="tns:retrieveFault1"></wsdl:fault>
        </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>
