cle-admin/com.tibco.cle.admin/Service Descriptors/Logging/Logic/LogLevel/RetrieveLogLevelDetail.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://www.tibco.com/ServiceDescriptors/Logging/Logic/LogLevel/RetrieveLogLevelDetail.wsdl" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="RetrieveLogLevelDetail" targetNamespace="http://www.tibco.com/ServiceDescriptors/Logging/Logic/LogLevel/RetrieveLogLevelDetail.wsdl" xmlns:xsd1="http://www.tibco.com/CommonLE2/namespace/Public/CLEExtension/LogLevelRequest.xsd" xmlns:xsd2="http://www.tibco.com/CommonLE2/namespace/Public/CLEExtension/LogLevelResponse.xsd" xmlns:xsd3="http://www.tibco.com/CommonLE2/namespace/private/Common">
  <wsdl:types>
    <xsd:schema targetNamespace="http://www.tibco.com/RetrieveLogLevelDetail/">
      <xsd:element name="retrieve">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="in" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="retrieveResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="out" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
    <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    	<xsd:import
    		namespace="http://www.tibco.com/CommonLE2/namespace/Public/CLEExtension/LogLevelRequest.xsd"
    		schemaLocation="../../../../Schemas/Public/Logging/LogLevelRequest.xsd">
    	</xsd:import>
    	<xsd:import
    		namespace="http://www.tibco.com/CommonLE2/namespace/Public/CLEExtension/LogLevelResponse.xsd"
    		schemaLocation="../../../../Schemas/Public/Logging/LogLevelResponse.xsd">
    	</xsd:import>
    	<xsd:import
    		namespace="http://www.tibco.com/CommonLE2/namespace/private/Common"
    		schemaLocation="../../../../Schemas/Private/Common/LocalExceptions.xsd">
    	</xsd:import></xsd:schema><xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.tibco.com/ServiceDescriptors/Logging/Logic/LogLevel/RetrieveLogLevelDetail.wsdl">
	<xsd:element name="retrieveFault">
		<xsd:complexType>
			<xsd:sequence>

				<xsd:element name="retrieveFault" type="xsd:string"></xsd:element>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element></xsd:schema></wsdl:types>
  <wsdl:message name="retrieveRequest">
    <wsdl:part element="xsd1:GetLogLevelRequest" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="retrieveResponse">
    <wsdl:part element="xsd2:EngineLogLevelDetails" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="retrieveFault">
  	<wsdl:part name="parameters" element="xsd3:InvalidInputParameter"></wsdl:part>
  </wsdl:message>
  <wsdl:portType name="RetrieveLogLevelDetail">
    <wsdl:operation name="retrieve">
      <wsdl:input message="tns:retrieveRequest"/>
      <wsdl:output message="tns:retrieveResponse"/>
            <wsdl:fault name="fault" message="tns:retrieveFault"></wsdl:fault>
        </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>
