cle-admin/com.tibco.cle.admin/Service Descriptors/Administration/DataAccess/ApplicationConfiguration/MSSQL/RetrieveApplicationConfigurationList.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:extns="http://www.tibco.com/CommonLE2/namespace/private/Common" xmlns:tns="http://www.tibco.com/ServiceDescriptors/Administration/DataAccess/ApplicationConfiguration/MSSQL/RetrieveApplicationConfigurationList.wsdl" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="RetrieveApplicationConfigurationList" targetNamespace="http://www.tibco.com/ServiceDescriptors/Administration/DataAccess/ApplicationConfiguration/MSSQL/RetrieveApplicationConfigurationList.wsdl" xmlns:xsd1="http://www.tibco.com/CommonLE2/namespace/Public/Pluggable/GUI/Configuration/Applications">
    <wsdl:types>
    	<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    		targetNamespace="http://www.tibco.com/ServiceDescriptors/Administration/DataAccess/ApplicationConfiguration/MSSQL/RetrieveApplicationConfigurationList.wsdl">
    		<xsd:element name="out"><xsd:complexType></xsd:complexType></xsd:element>
            <xsd:element name="in"><xsd:complexType></xsd:complexType></xsd:element>
        
        
    	</xsd:schema>
    	<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    		<xsd:import
    			namespace="http://www.tibco.com/CommonLE2/namespace/private/Common"
    			schemaLocation="../../../../../Schemas/Private/Common/LocalExceptions.xsd">
    		</xsd:import>
    		<xsd:import
    			namespace="http://www.tibco.com/CommonLE2/namespace/Public/Pluggable/GUI/Configuration/Applications"
    			schemaLocation="../../../../../Schemas/Public/Pluggable/GUI/Administration/Configuration/Applications.xsd">
    		</xsd:import></xsd:schema>
    	</wsdl:types>
    <wsdl:message name="Code">
    </wsdl:message>
  <wsdl:message name="operationfault">
    <wsdl:part element="extns:ApplicationRecordsNotFound" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="retrieveResponse">
  	<wsdl:part name="retrieveResponse" element="xsd1:Applications"></wsdl:part>
  </wsdl:message>
  <wsdl:portType name="RetrieveApplicationConfigurationList">
    <wsdl:operation name="retrieve">
      <wsdl:input message="tns:Code" name="operationinput"/>
      <wsdl:output message="tns:retrieveResponse"></wsdl:output>
      <wsdl:fault message="tns:operationfault" name="fault"/>
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>
