cle-admin/com.tibco.cle.admin/Service Descriptors/ExceptionManagement/Logic/RetrieveExceptionConfiguration.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:extns="http://www.tibco.com/CommonLE2/Private/Exception" xmlns:part="http://www.tibco.com/CommonLE2/Private/Administration" xmlns:tns="http://www.tibco.com/ServiceDescriptors/ExceptionManagement/Logic/RetrieveExceptionConfiguration.wsdl" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="RetrieveExceptionConfiguration" targetNamespace="http://www.tibco.com/ServiceDescriptors/ExceptionManagement/Logic/RetrieveExceptionConfiguration.wsdl" xmlns:xsd1="http://www.tibco.com/CommonLE2/namespace/private/Common">
  <wsdl:types>
  	<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  		<xsd:import
  			namespace="http://www.tibco.com/CommonLE2/Private/Administration"
  			schemaLocation="../../../Schemas/Private/Administration/QueryResults.xsd">
  		</xsd:import>
  		<xsd:import
  			namespace="http://www.tibco.com/CommonLE2/namespace/private/Common"
  			schemaLocation="../../../Schemas/Private/Common/LocalExceptions.xsd">
  		</xsd:import>
  		<xsd:import
  			namespace="http://www.tibco.com/CommonLE2/Private/Exception"
  			schemaLocation="../../../Schemas/Private/Exception/QueryUpdate.xsd">
  		</xsd:import></xsd:schema><xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.tibco.com/ServiceDescriptors/ExceptionManagement/Logic/RetrieveExceptionConfiguration.wsdl">
	<xsd:element name="retrieveFault">
		<xsd:complexType>
			<xsd:sequence>

				<xsd:element name="retrieveFault" type="xsd:string"></xsd:element>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="retrieveFault1">
		<xsd:complexType>
			<xsd:sequence>

				<xsd:element name="retrieveFault1" type="xsd:string"></xsd:element>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element></xsd:schema></wsdl:types>
  <wsdl:message name="ExceptionConfigurationQuery">
    <wsdl:part element="extns:ExceptionConfigurationQuery" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="retrieveResponse">
    <wsdl:part element="part:ExceptionConfigurationResult"
    	name="parameters" />
  </wsdl:message>
  <wsdl:message name="retrieveFault">
  	<wsdl:part name="parameters" element="xsd1:DBError"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="retrieveFault1">
  	<wsdl:part name="parameters"
  		element="xsd1:ExceptionConfigurationNotFound">
  	</wsdl:part>
  </wsdl:message>
  <wsdl:portType name="RetrieveExceptionConfiguration">
    <wsdl:operation name="retrieve">
      <wsdl:input message="tns:ExceptionConfigurationQuery" name="retrieveinput"/>
      <wsdl:output message="tns:retrieveResponse" name="retrieveoutput"/>
            <wsdl:fault name="fault" message="tns:retrieveFault"></wsdl:fault>
            <wsdl:fault name="fault1" message="tns:retrieveFault1"></wsdl:fault>
        </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>
