cle-admin/com.tibco.cle.admin/Service Descriptors/SecurityManagement/Logic/UserManagement/GetUsers.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://www.tibco.com/SecurityManagement/Logic/UserManagement/GetUsers.wsdl" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsd1="http://www.tibco.com/CommonLE2/namespace/Public/Pluggable/GUI/SecurityConfiguration/UserRolesRequest" xmlns:xsd2="http://www.example.org/Users" name="GetUsers" targetNamespace="http://www.tibco.com/SecurityManagement/Logic/UserManagement/GetUsers.wsdl">
  <wsdl:types>
    <xsd:schema targetNamespace="http://www.tibco.com/SecurityManagement/Logic/UserManagement/GetUsers.wsdl">
      <xsd:element name="GetAllUsers">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="in" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="GetAllUsersResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="out" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
    <xsd:schema>
    	<xsd:import namespace="http://www.tibco.com/CommonLE2/namespace/Public/Pluggable/GUI/SecurityConfiguration/UserRolesRequest" schemaLocation="../../../../Schemas/Public/Pluggable/GUI/Administration/SecurityConfiguration/UserRolesRequest.xsd">
    	</xsd:import>
    	<xsd:import namespace="http://www.example.org/Users" schemaLocation="../../../../Schemas/Private/SecurityConfiguration/Users.xsd">
    	</xsd:import>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="GetAllUsersRequest">
  </wsdl:message>
  <wsdl:message name="GetAllUsersResponse">
    <wsdl:part element="xsd2:Users" name="parameters"/>
  </wsdl:message>
  <wsdl:portType name="GetUsers">
    <wsdl:operation name="GetAllUsers">
      <wsdl:input message="tns:GetAllUsersRequest"/>
      <wsdl:output message="tns:GetAllUsersResponse"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="GetUsersSOAP" type="tns:GetUsers">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="GetAllUsers">
      <soap:operation soapAction="http://www.tibco.com/SecurityManagement/Logic/UserManagement/GetUsers.wsdl/NewOperation"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="GetUsers">
    <wsdl:port binding="tns:GetUsersSOAP" name="GetUsersSOAP">
      <soap:address location="http://www.example.org/"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
