cle-admin/com.tibco.cle.admin/Service Descriptors/ExceptionManagement/DataAccess/ResolveExceptions.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:tns="http://www.tibco.com/ServiceDescriptors/ExceptionManagement/DataAccess/ResolveExceptions.wsdl" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ResolveExceptions" targetNamespace="http://www.tibco.com/ServiceDescriptors/ExceptionManagement/DataAccess/ResolveExceptions.wsdl" xmlns:xsd1="http://www.tibco.com/CommonLE2/namespace/Private/Exception">
    <wsdl:types><xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.tibco.com/ServiceDescriptors/ExceptionManagement/DataAccess/ResolveExceptions.wsdl">
	<xsd:element name="NewOperation">
		<xsd:complexType>
			<xsd:sequence>

				<xsd:element name="in" type="xsd:string"></xsd:element>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="resolveResponse">
		<xsd:complexType>
			<xsd:sequence>

			</xsd:sequence>
		</xsd:complexType>
	</xsd:element></xsd:schema>
    	<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    		<xsd:import
    			namespace="http://www.tibco.com/CommonLE2/namespace/Private/Exception"
    			schemaLocation="../../../Schemas/Private/Exception/ExceptionResolution.xsd">
    		</xsd:import></xsd:schema></wsdl:types>
    <wsdl:message name="resolveRequest">
		<wsdl:part name="parameters" element="xsd1:ExceptionResolutionRecords"></wsdl:part>
	</wsdl:message>
    <wsdl:message name="resolveResponse">
    	<wsdl:part name="parameters" element="tns:resolveResponse"></wsdl:part>
    </wsdl:message>
    <wsdl:portType name="ResolveExceptions">
    	<wsdl:operation name="resolve">
    		<wsdl:input message="tns:resolveRequest"></wsdl:input>
    		<wsdl:output message="tns:resolveResponse"></wsdl:output>
    	</wsdl:operation>
    </wsdl:portType></wsdl:definitions>
