cle-admin/com.tibco.cle.admin/Service Descriptors/Administration/DataAccess/Procedure/MSSQL/DeleteProcedure.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://www.tibco.com/ServiceDescriptors/Administration/DataAccess/Procedure/MSSQL/DeleteProcedure.wsdl" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="DeleteProcedure" targetNamespace="http://www.tibco.com/ServiceDescriptors/Administration/DataAccess/Procedure/MSSQL/DeleteProcedure.wsdl" xmlns:xsd1="http://www.tibco.com/CommonLE2/namespace/Public/Pluggable/GUI/Configuration/Query" xmlns:xsd2="http://www.tibco.com/CommonLE2/Public/Common/Dummy" xmlns:xsd3="http://www.tibco.com/CommonLE2/namespace/private/Common">
  <wsdl:types>
    <xsd:schema targetNamespace="http://www.tibco.com/DeleteProcedure/">
      <xsd:element name="delete">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="in" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="deleteResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="out" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
    <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    	<xsd:import
    		namespace="http://www.tibco.com/CommonLE2/namespace/Public/Pluggable/GUI/Configuration/Query"
    		schemaLocation="../../../../../Schemas/Public/Pluggable/GUI/Administration/Configuration/ConfigurationQuery.xsd">
    	</xsd:import>
    	<xsd:import
    		namespace="http://www.tibco.com/CommonLE2/Public/Common/Dummy"
    		schemaLocation="../../../../../Schemas/Public/Pluggable/GUI/Common/DummyReturnMessage.xsd">
    	</xsd:import>
    	<xsd:import
    		namespace="http://www.tibco.com/CommonLE2/namespace/private/Common"
    		schemaLocation="../../../../../Schemas/Private/Common/LocalExceptions.xsd">
    	</xsd:import></xsd:schema><xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.tibco.com/ServiceDescriptors/Administration/DataAccess/Procedure/MSSQL/DeleteProcedure.wsdl">
	<xsd:element name="deleteFault">
		<xsd:complexType>
			<xsd:sequence>

				<xsd:element name="deleteFault" type="xsd:string"></xsd:element>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="deleteFault1">
		<xsd:complexType>
			<xsd:sequence>

				<xsd:element name="deleteFault1" type="xsd:string"></xsd:element>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element></xsd:schema></wsdl:types>
  <wsdl:message name="deleteRequest">
    <wsdl:part element="xsd1:Query" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="deleteResponse">
    <wsdl:part element="xsd2:Dummy" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="deleteFault">
  	<wsdl:part name="parameters" element="xsd3:DBRecordNotFound"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="deleteFault1">
  	<wsdl:part name="parameters" element="xsd3:ReferencialIntegrityViolation"></wsdl:part>
  </wsdl:message>
  <wsdl:portType name="DeleteProcedure">
    <wsdl:operation name="delete">
      <wsdl:input message="tns:deleteRequest"/>
      <wsdl:output message="tns:deleteResponse"/>
            <wsdl:fault name="fault" message="tns:deleteFault"></wsdl:fault>
            <wsdl:fault name="fault1" message="tns:deleteFault1"></wsdl:fault>
        </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>
