cle-admin/com.tibco.cle.admin/Service Descriptors/Common/Logic/RaiseErrorRequestException.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://www.tibco.com/ServiceDescriptors/Common/Logic/RaiseErrorRequestException" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="RaiseErrorRequestException" targetNamespace="http://www.tibco.com/ServiceDescriptors/Common/Logic/RaiseErrorRequestException" xmlns:xsd1="http://www.tibco.com/CommonLE2/Private/Common">
  <wsdl:types>
    <xsd:schema targetNamespace="http://www.tibco.com/ServiceDescriptors/Common/Logic/RaiseErrorRequestException">
      <xsd:element name="raiseError">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="in" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="raiseErrorResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="out" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
    <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    	<xsd:import
    		namespace="http://www.tibco.com/CommonLE2/Private/Common"
    		schemaLocation="../../../Schemas/Private/Common/ErrorRequest.xsd">
    	</xsd:import></xsd:schema></wsdl:types>
  <wsdl:message name="raiseErrorRequest">
    <wsdl:part element="xsd1:ErrorRequest" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="raiseErrorResponse">
    <wsdl:part element="tns:raiseErrorResponse" name="parameters"/>
  </wsdl:message>
  <wsdl:portType name="RaiseErrorRequestException">
    <wsdl:operation name="raiseError">
      <wsdl:input message="tns:raiseErrorRequest"/>
    </wsdl:operation>
  </wsdl:portType>
 </wsdl:definitions>
