cle-admin/com.tibco.cle.admin/Service Descriptors/Common/DataAccess/MSSQL/Helper/ConstructSQLStatement.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://www.tibco.com/ServiceDescriptors/Common/DataAccess/MSSQL/Helper/ConstructSQLStatement.wsdl" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsd1="http://www.tibco.com/schemas/COMMONLENEW/SharedResources/SchemaDefinitions/Public/Pluggable/GUI/Common/ListQuery.xsd" name="ConstructSQLStatement" targetNamespace="http://www.tibco.com/ServiceDescriptors/Common/DataAccess/MSSQL/Helper/ConstructSQLStatement.wsdl">
  <wsdl:types>
    <xsd:schema targetNamespace="http://www.tibco.com/Common/DataAccess/MSSQL/Helper/ConstructSQLStatement.wsdl">
      <xsd:element name="constructSQLStatement">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="in" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="constructSQLStatementResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="out" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    
            <xsd:element name="oneCondition" type="xsd:string"/>
        </xsd:schema>
    <xsd:schema>
    	<xsd:import namespace="http://www.tibco.com/schemas/COMMONLENEW/SharedResources/SchemaDefinitions/Public/Pluggable/GUI/Common/ListQuery.xsd" schemaLocation="../../../../../Schemas/Public/Pluggable/GUI/Common/ListQuery.xsd">
    	</xsd:import>
    </xsd:schema>
        <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.tibco.com/ServiceDescriptors/Common/DataAccess/MSSQL/Helper/ConstructSQLStatement.wsdl"><xsd:element name="whereClause1" type="xsd:string"></xsd:element>
            <xsd:element name="whereClause" type="xsd:string"></xsd:element>
        </xsd:schema>
    </wsdl:types>
  <wsdl:message name="constructSQLStatementRequest">
    <wsdl:part element="xsd1:ListQuery" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="constructSQLStatementResponse">
        <wsdl:part element="tns:whereClause" name="parameters" />
  </wsdl:message>
  <wsdl:portType name="ConstructSQLStatement">
    <wsdl:operation name="constructSQLStatement">
      <wsdl:input message="tns:constructSQLStatementRequest"/>
      <wsdl:output message="tns:constructSQLStatementResponse"/>
    </wsdl:operation>
  </wsdl:portType>


</wsdl:definitions>
