cle-admin/com.tibco.cle.admin/Service Descriptors/Administration/DataAccess/InterfaceConfiguration/MSSQL/CreateInterfaceConfiguration.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://www.tibco.com/ServiceDescriptors/Administration/DataAccess/InterfaceConfiguration/MSSQL/CreateInterfaceConfiguration.wsdl" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="CreateInterfaceConfiguration" targetNamespace="http://www.tibco.com/ServiceDescriptors/Administration/DataAccess/InterfaceConfiguration/MSSQL/CreateInterfaceConfiguration.wsdl" xmlns:xsd1="http://www.tibco.com/CommonLE2/Private/Administration" xmlns:xsd2="http://www.tibco.com/CommonLE2/namespace/private/Common">
  <wsdl:types>
    <xsd:schema targetNamespace="http://www.tibco.com/ServiceDescriptors/Administration/DataAccess/InterfaceConfiguration/MSSQL/CreateInterfaceConfiguration.wsdl">
      <xsd:element name="NewOperation">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="in" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="createResponse">
        <xsd:complexType>
          <xsd:sequence>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="createFault">
      	<xsd:complexType>
      		<xsd:sequence>

      			<xsd:element name="createFault" type="xsd:string"></xsd:element>
      		</xsd:sequence>
      	</xsd:complexType>
      </xsd:element>
      <xsd:element name="createFault1">
      	<xsd:complexType>
      		<xsd:sequence>

      			<xsd:element name="createFault1" type="xsd:string"></xsd:element>
      		</xsd:sequence>
      	</xsd:complexType>
      </xsd:element>
      <xsd:element name="createFault2">
      	<xsd:complexType>
      		<xsd:sequence>

      			<xsd:element name="createFault2" type="xsd:string"></xsd:element>
      		</xsd:sequence>
      	</xsd:complexType>
      </xsd:element>
    </xsd:schema>
    <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    	<xsd:import
    		namespace="http://www.tibco.com/CommonLE2/Private/Administration"
    		schemaLocation="../../../../../Schemas/Private/Administration/QueryUpdate.xsd">
    	</xsd:import>
    	<xsd:import
    		namespace="http://www.tibco.com/CommonLE2/namespace/private/Common"
    		schemaLocation="../../../../../Schemas/Private/Common/LocalExceptions.xsd">
    	</xsd:import></xsd:schema></wsdl:types>
  <wsdl:message name="createRequest">
    <wsdl:part element="xsd1:InterfaceConfiguration" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="createResponse">
    <wsdl:part element="tns:createResponse" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="createFault">
  	<wsdl:part name="parameters" element="xsd2:IDNotUnique"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="createFault1">
  	<wsdl:part name="parameters" element="xsd2:InvalidInputParameter"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="createFault2">
  	<wsdl:part name="parameters" element="xsd2:ReferencialIntegrityViolation"></wsdl:part>
  </wsdl:message>
  <wsdl:portType name="CreateInterfaceConfiguration">
    <wsdl:operation name="create">
      <wsdl:input message="tns:createRequest"/>
      <wsdl:output message="tns:createResponse"/>
            <wsdl:fault name="fault" message="tns:createFault"></wsdl:fault>
            <wsdl:fault name="fault1" message="tns:createFault1"></wsdl:fault>
            <wsdl:fault name="fault2" message="tns:createFault2"></wsdl:fault>
        </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="CreateInterfaceConfigurationSOAP" type="tns:CreateInterfaceConfiguration">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="create">
      <soap:operation soapAction="http://www.tibco.com/ServiceDescriptors/Administration/DataAccess/InterfaceConfiguration/MSSQL/CreateInterfaceConfiguration.wsdl/NewOperation"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
</wsdl:definitions>
