cle-admin/com.tibco.cle.admin/Service Descriptors/Administration/DataAccess/InterfaceConfiguration/MSSQL/DeleteInterfaceConfiguration.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://www.tibco.com/ServiceDescriptors/Administration/DataAccess/InterfaceConfiguration/MSSQL/DeleteInterfaceConfiguration.wsdl" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="DeleteInterfaceConfiguration" targetNamespace="http://www.tibco.com/ServiceDescriptors/Administration/DataAccess/InterfaceConfiguration/MSSQL/DeleteInterfaceConfiguration.wsdl" xmlns:xsd1="http://www.tibco.com/CommonLE2/Private/Administration/DeleteQuery" xmlns:xsd2="http://www.tibco.com/CommonLE2/namespace/private/Common">
  <wsdl:types>
    <xsd:schema targetNamespace="http://www.tibco.com/ServiceDescriptors/Administration/DataAccess/InterfaceConfiguration/MSSQL/DeleteInterfaceConfiguration.wsdl">
      <xsd:element name="delete">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="in" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="deleteResponse">
        <xsd:complexType>
          <xsd:sequence>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="deleteFault">
      	<xsd:complexType>
      		<xsd:sequence>

      			<xsd:element name="deleteFault" type="xsd:string"></xsd:element>
      		</xsd:sequence>
      	</xsd:complexType>
      </xsd:element>
      <xsd:element name="deleteFault1">
      	<xsd:complexType>
      		<xsd:sequence>

      			<xsd:element name="deleteFault1" type="xsd:string"></xsd:element>
      		</xsd:sequence>
      	</xsd:complexType>
      </xsd:element>
    </xsd:schema>
    <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    	<xsd:import
    		namespace="http://www.tibco.com/CommonLE2/Private/Administration/DeleteQuery"
    		schemaLocation="../../../../../Schemas/Private/Administration/DeleteQuery.xsd">
    	</xsd:import>
    	<xsd:import
    		namespace="http://www.tibco.com/CommonLE2/namespace/private/Common"
    		schemaLocation="../../../../../Schemas/Private/Common/LocalExceptions.xsd">
    	</xsd:import></xsd:schema></wsdl:types>
  <wsdl:message name="deleteRequest">
    <wsdl:part element="xsd1:DeleteQueries" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="deleteResponse">
    <wsdl:part element="tns:deleteResponse" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="deleteFault">
  	<wsdl:part name="parameters" element="xsd2:DBRecordNotFound"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="deleteFault1">
  	<wsdl:part name="parameters" element="xsd2:ReferencialIntegrityViolation"></wsdl:part>
  </wsdl:message>
  <wsdl:portType name="DeleteInterfaceConfiguration">
    <wsdl:operation name="delete">
      <wsdl:input message="tns:deleteRequest"/>
      <wsdl:output message="tns:deleteResponse"/>
            <wsdl:fault name="fault" message="tns:deleteFault"></wsdl:fault>
            <wsdl:fault name="fault1" message="tns:deleteFault1"></wsdl:fault>
        </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>
