cle-admin/com.tibco.cle.admin/Service Descriptors/Administration/DataAccess/InterfaceConfiguration/MSSQL/RetrieveSpecificInterfaceConfiguration.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://www.tibco.com/ServiceDescriptors/Administration/DataAccess/InterfaceConfiguration/MSSQL/RetrieveSpecificInterfaceConfiguration.wsdl" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="RetrieveSpecificInterfaceConfiguration" targetNamespace="http://www.tibco.com/ServiceDescriptors/Administration/DataAccess/InterfaceConfiguration/MSSQL/RetrieveSpecificInterfaceConfiguration.wsdl" xmlns:xsd1="http://www.tibco.com/CommonLE2/Private/Exception" xmlns:xsd2="http://www.tibco.com/CommonLE2/Private/Administration" xmlns:xsd3="http://www.tibco.com/CommonLE2/namespace/private/Common">
  <wsdl:types>
    <xsd:schema targetNamespace="http://www.tibco.com/ServiceDescriptors/Administration/DataAccess/InterfaceConfiguration/MSSQL/RetrieveSpecificInterfaceConfiguration.wsdl">
      <xsd:element name="retriveSpecificInterfaceConfiguration">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="in" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="retriveSpecificInterfaceConfigurationResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="out" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="retriveSpecificInterfaceConfigurationFault">
      	<xsd:complexType>
      		<xsd:sequence>

      			<xsd:element
      				name="retriveSpecificInterfaceConfigurationFault"
      				type="xsd:string">
      			</xsd:element>
      		</xsd:sequence>
      	</xsd:complexType>
      </xsd:element>
      <xsd:element name="retriveSpecificInterfaceConfigurationFault1">
      	<xsd:complexType>
      		<xsd:sequence>

      			<xsd:element
      				name="retriveSpecificInterfaceConfigurationFault1"
      				type="xsd:string">
      			</xsd:element>
      		</xsd:sequence>
      	</xsd:complexType>
      </xsd:element>
      <xsd:element name="retriveSpecificInterfaceConfigurationFault2">
      	<xsd:complexType>
      		<xsd:sequence>

      			<xsd:element
      				name="retriveSpecificInterfaceConfigurationFault2"
      				type="xsd:string">
      			</xsd:element>
      		</xsd:sequence>
      	</xsd:complexType>
      </xsd:element>
    </xsd:schema>
    <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    	<xsd:import
    		namespace="http://www.tibco.com/CommonLE2/Private/Exception"
    		schemaLocation="../../../../../Schemas/Private/Exception/QueryUpdate.xsd">
    	</xsd:import>
    	<xsd:import
    		namespace="http://www.tibco.com/CommonLE2/Private/Administration"
    		schemaLocation="../../../../../Schemas/Private/Administration/QueryUpdate.xsd">
    	</xsd:import>
    	<xsd:import
    		namespace="http://www.tibco.com/CommonLE2/namespace/private/Common"
    		schemaLocation="../../../../../Schemas/Private/Common/LocalExceptions.xsd">
    	</xsd:import></xsd:schema></wsdl:types>
  <wsdl:message name="retriveSpecificInterfaceConfigurationRequest">
    <wsdl:part element="xsd1:InterfaceConfigurationQuery" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="retriveSpecificInterfaceConfigurationResponse">
    <wsdl:part element="xsd2:InterfaceConfiguration" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="retriveSpecificInterfaceConfigurationFault">
  	<wsdl:part name="parameters" element="xsd3:DBError"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="retriveSpecificInterfaceConfigurationFault1">
  	<wsdl:part name="parameters" element="xsd3:IDNotFound"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="retriveSpecificInterfaceConfigurationFault2">
  	<wsdl:part name="parameters" element="xsd3:InterfaceIDNotFound"></wsdl:part>
  </wsdl:message>
  <wsdl:portType name="RetrieveSpecificInterfaceConfiguration">
    <wsdl:operation name="retriveSpecificInterfaceConfiguration">
      <wsdl:input message="tns:retriveSpecificInterfaceConfigurationRequest"/>
      <wsdl:output message="tns:retriveSpecificInterfaceConfigurationResponse"/>
            <wsdl:fault name="fault" message="tns:retriveSpecificInterfaceConfigurationFault"></wsdl:fault>
            <wsdl:fault name="fault1" message="tns:retriveSpecificInterfaceConfigurationFault1"></wsdl:fault>
            <wsdl:fault name="fault2" message="tns:retriveSpecificInterfaceConfigurationFault2"></wsdl:fault>
        </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>
