cle-admin/com.tibco.cle.admin/Service Descriptors/Administration/DataAccess/RenderConfiguration/MSSQL/CreateRenderConfig.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://www.tibco.com/Administration/DataAccess/RenderConfiguration/MSSQL/CreateRenderConfig.wsdl" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="CreateRenderConfig" targetNamespace="http://www.tibco.com/Administration/DataAccess/RenderConfiguration/MSSQL/CreateRenderConfig.wsdl" xmlns:xsd1="http://www.tibco.com/CommonLE2/namespace/Public/Pluggable/GUI/Configuration/RenderConfig" xmlns:xsd2="http://www.tibco.com/CommonLE2/namespace/private/Common">
  <wsdl:types>
    <xsd:schema targetNamespace="http://www.tibco.com/Administration/DataAccess/RenderConfiguration/MSSQL/CreateRenderConfig.wsdl">
      <xsd:element name="create">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="in" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="createResponse">
        <xsd:complexType>
          <xsd:sequence>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="createFault">
      	<xsd:complexType>
      		<xsd:sequence>

      			<xsd:element name="createFault" type="xsd:string"></xsd:element>
      		</xsd:sequence>
      	</xsd:complexType>
      </xsd:element>
    </xsd:schema>
    <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    	<xsd:import
    		namespace="http://www.tibco.com/CommonLE2/namespace/Public/Pluggable/GUI/Configuration/RenderConfig"
    		schemaLocation="../../../../../Schemas/Public/Pluggable/GUI/Administration/Configuration/RenderConfig.xsd">
    	</xsd:import>
    	<xsd:import
    		namespace="http://www.tibco.com/CommonLE2/namespace/private/Common"
    		schemaLocation="../../../../../Schemas/Private/Common/LocalExceptions.xsd">
    	</xsd:import></xsd:schema></wsdl:types>
  <wsdl:message name="createRequest">
    <wsdl:part element="xsd1:RenderConfig" name="parameters" />
  </wsdl:message>
  <wsdl:message name="createResponse">
    <wsdl:part element="tns:createResponse" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="createFault">
  	<wsdl:part name="parameters"
  		element="xsd2:ApplicationIDNotFound">
  	</wsdl:part>
  </wsdl:message>
  <wsdl:portType name="CreateRenderConfig">
    <wsdl:operation name="create">
      <wsdl:input message="tns:createRequest"/>
      <wsdl:output message="tns:createResponse"/>
            <wsdl:fault name="fault" message="tns:createFault"></wsdl:fault>
        </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="CreateRenderConfigSOAP" type="tns:CreateRenderConfig">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="create">
      <soap:operation soapAction="http://www.tibco.com/Administration/DataAccess/RenderConfiguration/MSSQL/CreateRenderConfig.wsdl/NewOperation"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="CreateRenderConfig">
    <wsdl:port binding="tns:CreateRenderConfigSOAP" name="CreateRenderConfigSOAP">
      <soap:address location="http://www.example.org/"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
