cle-admin/com.tibco.cle.admin/Service Descriptors/Administration/DataAccess/RenderConfiguration/MSSQL/UpdateRenderConfig.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://www.tibco.com/Administration/DataAccess/RenderConfiguration/MSSQL/UpdateRenderConfig.wsdl" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="UpdateRenderConfig" targetNamespace="http://www.tibco.com/Administration/DataAccess/RenderConfiguration/MSSQL/UpdateRenderConfig.wsdl" xmlns:xsd1="http://www.tibco.com/CommonLE2/namespace/Public/Pluggable/GUI/Configuration/RenderConfig" xmlns:xsd2="http://www.tibco.com/CommonLE2/namespace/private/Common">
  <wsdl:types>
    <xsd:schema targetNamespace="http://www.tibco.com/Administration/DataAccess/RenderConfiguration/MSSQL/UpdateRenderConfig.wsdl">
      <xsd:element name="update">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="in" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="updateResponse">
        <xsd:complexType>
          <xsd:sequence>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="updateFault">
      	<xsd:complexType>
      		<xsd:sequence>

      			<xsd:element name="updateFault" type="xsd:string"></xsd:element>
      		</xsd:sequence>
      	</xsd:complexType>
      </xsd:element>
    </xsd:schema>
    <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    	<xsd:import
    		namespace="http://www.tibco.com/CommonLE2/namespace/Public/Pluggable/GUI/Configuration/RenderConfig"
    		schemaLocation="../../../../../Schemas/Public/Pluggable/GUI/Administration/Configuration/RenderConfig.xsd">
    	</xsd:import>
    	<xsd:import
    		namespace="http://www.tibco.com/CommonLE2/namespace/private/Common"
    		schemaLocation="../../../../../Schemas/Private/Common/LocalExceptions.xsd">
    	</xsd:import></xsd:schema></wsdl:types>
  <wsdl:message name="updateRequest">
    <wsdl:part element="xsd1:RenderConfig" name="parameters" />
  </wsdl:message>
  <wsdl:message name="updateResponse">
    <wsdl:part element="tns:updateResponse" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="updateFault">
  	<wsdl:part name="parameters" element="xsd2:DBRecordNotFound"></wsdl:part>
  </wsdl:message>
  <wsdl:portType name="UpdateRenderConfig">
    <wsdl:operation name="update">
      <wsdl:input message="tns:updateRequest"/>
      <wsdl:output message="tns:updateResponse"/>
            <wsdl:fault name="fault" message="tns:updateFault"></wsdl:fault>
        </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="UpdateRenderConfigSOAP" type="tns:UpdateRenderConfig">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="update">
      <soap:operation soapAction="http://www.tibco.com/Administration/DataAccess/RenderConfiguration/MSSQL/UpdateRenderConfig.wsdl/NewOperation"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="UpdateRenderConfig">
    <wsdl:port binding="tns:UpdateRenderConfigSOAP" name="UpdateRenderConfigSOAP">
      <soap:address location="http://www.example.org/"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
