cle-admin/com.tibco.cle.admin/Service Descriptors/Common/DataAccess/MSSQL/RetrieveRenderingImplementation.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://www.tibco.com/Common/DataAccess/MSSQL/RetrieveRenderingImplementation.wsdl" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="RetrieveRenderingImplementation" targetNamespace="http://www.tibco.com/Common/DataAccess/MSSQL/RetrieveRenderingImplementation.wsdl" xmlns:xsd1="http://www.tibco.com/CommonLE2/namespace/private/Common">
  <wsdl:types>
    <xsd:schema targetNamespace="http://www.tibco.com/Common/DataAccess/MSSQL/RetrieveRenderingImplementation.wsdl">
      <xsd:element name="retrieve">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="in" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="retrieveResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="out" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="retrieveFault">
      	<xsd:complexType>
      		<xsd:sequence>

      			<xsd:element name="retrieveFault" type="xsd:string"></xsd:element>
      		</xsd:sequence>
      	</xsd:complexType>
      </xsd:element>
    </xsd:schema>
    <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    	<xsd:import
    		namespace="http://www.tibco.com/CommonLE2/namespace/private/Common"
    		schemaLocation="../../../../Schemas/Private/Common/Rendering.xsd">
    	</xsd:import>
    	<xsd:import
    		namespace="http://www.tibco.com/CommonLE2/namespace/private/Common"
    		schemaLocation="../../../../Schemas/Private/Common/LocalExceptions.xsd">
    	</xsd:import></xsd:schema></wsdl:types>
  <wsdl:message name="retrieveRequest">
    <wsdl:part element="xsd1:Query" name="parameters" />
  </wsdl:message>
  <wsdl:message name="retrieveResponse">
    <wsdl:part element="xsd1:RenderingImp" name="parameters" />
  </wsdl:message>
  <wsdl:message name="retrieveFault">
  	<wsdl:part name="parameters" element="xsd1:DBRecordNotFound"></wsdl:part>
  </wsdl:message>
  <wsdl:portType name="RetrieveRenderingImplementation">
    <wsdl:operation name="retrieve">
      <wsdl:input message="tns:retrieveRequest"/>
      <wsdl:output message="tns:retrieveResponse"/>
            <wsdl:fault name="fault" message="tns:retrieveFault"></wsdl:fault>
        </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>
